In [4]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame(np.arange(1,13).reshape((3,4)),
            index = ['당근', '고추', '양파'],
            columns = ['상점_A', '상점_B', '상점_C', '상점_D'])

new_df = df.rename(index={"당근":"carrot", "고추":"pepper", "양파":"onion"},
          columns = {'상점_A':"store A", '상점_B':"store B", '상점_C':"store C", '상점_D':"store D"})
new_df

        store A  store B  store C  store D
carrot        1        2        3        4
pepper        5        6        7        8
onion         9       10       11       12

In [20]:
data = [["양파", 6400], ["감자", 3400], ["당근", 5600], ["가지", 3200], ["감자", 4500], ["양파", 2400]]
vegetables = [x[0] for x in data]
prices = [x[1] for x in data]

df = pd.DataFrame({
    "채소": vegetables,
    "가격": prices
})

df = df.drop_duplicates(['채소'], keep='last')
df

   채소    가격
2  당근  5600
3  가지  3200
4  감자  4500
5  양파  2400