## 컴퓨터공학과 2025208017 김이슬

In [17]:
import pandas as pd

data = [['사과', 3000], ['배',4000], ['딸기',4000],['사과',3000], ['귤',5000], ['배',4000]]

fruits = [x[0] for x in data]
prices = [x[1] for x in data]

df = pd.DataFrame({'과일':fruits, '가격':prices})
df['순서'] = range(len(fruits))

df = df.replace('사과', '청송 사과')
df = df.replace('배', '나주 배')
df = df.replace('딸기', '논산 딸기')
df = df.replace('귤', '제주 귤')

df = df.drop_duplicates(['과일'])

df

      과일    가격  순서
0  청송 사과  3000   0
1   나주 배  4000   1
2  논산 딸기  4000   2
4   제주 귤  5000   4