## 컴퓨터공학과 2025208017 김이슬

In [3]:
import pandas as pd

df = pd.DataFrame({
    '자동차명': ['GV80', 'IONIQ 5', 'Model Y', 'IX3', 'S Class', 'GV60'],
    '브랜드': ['제네시스', '현대자동차', '테슬라', 'BMW', 'Mercedes Benz', '제네시스'],
    '종류': ['내연기관', '전기차', '전기차', '전기차', '내연기관', '전기차'],
    '가격': [8000, 5500, 5600, 8300, 14000, 7000]
})

pivot_df = df.pivot(index='브랜드', columns='자동차명', values='가격').fillna(0)

pivot_df

자동차명             GV60    GV80  IONIQ 5     IX3  Model Y  S Class
브랜드
BMW               0.0     0.0      0.0  8300.0      0.0      0.0
Mercedes Benz     0.0     0.0      0.0     0.0      0.0  14000.0
제네시스           7000.0  8000.0      0.0     0.0      0.0      0.0
테슬라               0.0     0.0      0.0     0.0   5600.0      0.0
현대자동차             0.0     0.0   5500.0     0.0      0.0      0.0