## 6-2

In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

df = tips.groupby('day', observed=True).mean(numeric_only=True)
df

      total_bill       tip      size
day
Thur   17.682742  2.771452  2.451613
Fri    17.151579  2.734737  2.105263
Sat    20.441379  2.993103  2.517241
Sun    21.410000  3.255132  2.842105