In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame(np.arange(1,13).reshape((3,4)),
            index = ['당근', '고추', '양파'],
            columns = ['상점_A', '상점_B', '상점_C', '상점_D'])

new_df = df.rename(index={"당근":"carrot", "고추":"pepper", "양파":"onion"},
          columns = {'상점_A':"store A", '상점_B':"store B", '상점_C':"store C", '상점_D':"store D"})
new_df

        store A  store B  store C  store D
carrot        1        2        3        4
pepper        5        6        7        8
onion         9       10       11       12

In [20]:
data = [["양파", 6400], ["감자", 3400], ["당근", 5600], ["가지", 3200], ["감자", 4500], ["양파", 2400]]
vegetables = [x[0] for x in data]
prices = [x[1] for x in data]

df = pd.DataFrame({
    "채소": vegetables,
    "가격": prices
})

df = df.drop_duplicates(['채소'], keep='last')
df

   채소    가격
2  당근  5600
3  가지  3200
4  감자  4500
5  양파  2400

In [5]:
df1 = pd.DataFrame({'A': ['a10', 'a11', 'a12'], 'B': ['b10', 'b11', 'b12'], 'C':['c10', 'c11','c12']}, index = ['가','나','다'])
df2 = pd.DataFrame({'B': ['b23', 'b24', 'b25'], 'C': ['c23', 'c24', 'c25'], 'D':['d23', 'd24','d25']}, index = ['다','라','마'])

In [13]:
print("pd.concat([df1, df2], axis = 0, join = 'outer')")
print(pd.concat([df1, df2], axis = 0, join = 'outer'))
print("pd.concat([df1, df2], axis = 0, join='inner')")
print(pd.concat([df1, df2], axis = 0, join='inner'))
print("pd.concat([df1, df2], axis = 1, join='outer')")
print(pd.concat([df1, df2], axis = 1, join='outer'))
print("pd.concat([df1, df2], axis = 1, join='inner')")
print(pd.concat([df1, df2], axis = 1, join='inner'))

pd.concat([df1, df2], axis = 0, join = 'outer')
     A    B    C    D
가  a10  b10  c10  NaN
나  a11  b11  c11  NaN
다  a12  b12  c12  NaN
다  NaN  b23  c23  d23
라  NaN  b24  c24  d24
마  NaN  b25  c25  d25
pd.concat([df1, df2], axis = 0, join='inner')
     B    C
가  b10  c10
나  b11  c11
다  b12  c12
다  b23  c23
라  b24  c24
마  b25  c25
pd.concat([df1, df2], axis = 1, join='outer')
     A    B    C    B    C    D
가  a10  b10  c10  NaN  NaN  NaN
나  a11  b11  c11  NaN  NaN  NaN
다  a12  b12  c12  b23  c23  d23
라  NaN  NaN  NaN  b24  c24  d24
마  NaN  NaN  NaN  b25  c25  d25
pd.concat([df1, df2], axis = 1, join='inner')
     A    B    C    B    C    D
다  a12  b12  c12  b23  c23  d23

In [17]:
print('left outer')
print(df1.merge(df2, how='left', on='B'))

print('right outer')
print(df1.merge(df2, how='right', on='B'))

print('full outer')
print(df1.merge(df2, how='outer', on='B'))

print('inner')
print(df1.merge(df2, how='inner', on='B'))

left outer
     A    B  C_x  C_y    D
0  a10  b10  c10  NaN  NaN
1  a11  b11  c11  NaN  NaN
2  a12  b12  c12  NaN  NaN
right outer
     A    B  C_x  C_y    D
0  NaN  b23  NaN  c23  d23
1  NaN  b24  NaN  c24  d24
2  NaN  b25  NaN  c25  d25
full outer
     A    B  C_x  C_y    D
0  a10  b10  c10  NaN  NaN
1  a11  b11  c11  NaN  NaN
2  a12  b12  c12  NaN  NaN
3  NaN  b23  NaN  c23  d23
4  NaN  b24  NaN  c24  d24
5  NaN  b25  NaN  c25  d25
inner
Empty DataFrame
Columns: [A, B, C_x, C_y, D]
Index: []